@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background: linear-gradient(to bottom, #060032, #575bdf);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  scrollbar-width: none;
}

.landing-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  /* padding: 0 20px; */
  box-sizing: border-box;
}

div,
img,
p {
  padding: 0;
  margin: 0;
}

.logo-img {
  width: 320px;
  margin: 0 auto;
  display: block;
}

.gdg-subtext {
  font-size: 17px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  padding-top: 6px;
  text-align: right;
  padding-right: 10px;
  background: linear-gradient(to right, #060032, #e0e7ff, #dfe4f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.graphic-layer {
  position: relative;
  width: 100%;
  /* transform: translateX(-20px); */
  margin-top: 30px;
}

.comming-soon {
  font-size: 14px;
  text-align: right;
  padding-right: 10px;
}

.hand-img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
}

.flower-img {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  animation: float 3s ease-in-out infinite;
  z-index: 2;
}

@keyframes float {
  0% {
    transform: translate(-50%, 0);
  }

  50% {
    transform: translate(-50%, -20px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}
